BODY {
	background-color:#000000; margin-top:0; margin-bottom:0;
	font:Arial, Helvetica, sans-serif;
}

a.MainLinkBar			{ color:#FFFFCC; }
a.MainLinkBar:hover		{ color:#FFCC66; }
a.MainLinkBar:visited	{ color:#FFFFCC; }
a.Credits				{ color:#FFFFFF; }
a.Credits:hover			{ color:#FFFFFF; }
a.Credits:visited		{ color:#FFFFFF; }
a.gcPlain		{ color: #FFFFFF; text-decoration:none; }
a.gcPlain:hover	{ color: #FFFFFF; text-decoration:none; }
a.gcPlain:visited	{ color: #FFFFFF; text-decoration:none; }

.MainLeftBar	{background-image: url("images/mainbox-left.jpg");}
.MainRightBar	{background-image: url("images/mainbox-right.jpg");}
.MainBottomBar	{background-image: url("images/mainbox-bottom-middle.jpg");}
.MainTopBar		{background-image: url("images/mainbox-top.gif");}

.MainLinkBar {
	background-image:url("images/divider-bar.gif");
	vertical-align: middle; color:#FFFFFF;
	font-size:11px;
}
.membersRowColor1 {
	background-color:#1F1E1D;
}

.membersRowColor2 {
	background-color:#2E2D2B;
}
.ContentCell {
	background-image: url("images/Paper.jpg");
	padding-left:5px;
	padding-top:10px;
	padding-right:5px;
	padding-bottom:3px;
}

.Credits {
	text-align:center;
	background-image:url("images/divider-bar.gif");
	font-size: 11px;
	color: #FFFFFF;
}
.ContainerTitle {
	font-size:12px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url("images/container-2.jpg");
}
.ContainerLeft {
	background-image: url("images/container-left.jpg");
}
.ContainerContent {
	background-image: url("images/light-paper.jpg");
	padding-left:5px;
	padding-top:3px;
	padding-right:5px;
	padding-bottom:5px;
}
.ContainerRight {
	background-image: url("images/container-right.jpg");
}
.ContainerTable {
	margin-bottom: 15px;
}