.book_page_back {
/* Style and placement of Back Page Button */
	text-align:left;
	font-weight:bold;
	width:100px;
	position:absolute;
	margin-top:300px;
	margin-left:30px;
	cursor:pointer;
}
.book_page_back .navicon {
/* Style and placement of Back Page Button */
	width:26px;
	height:26px;
}
.book_page_forward {
/* Style and placement of Forward Page Button */
	text-align:right;
	font-weight:bold;
	width:100px;
	position:absolute;
	margin-top:300px;
	margin-left:200px;
	cursor:pointer;
}
.book_page_forward .navicon {
/* Style and placement of Back Page Button */
	width:26px;
	height:26px;
}
.book_default {
	background-image:url(file:///C|/apache2triad/htdocs/img/paperback.jpg);
	background-repeat: no-repeat;
	text-align:left;
	font-weight:bold;
	font-size:15px;
	color:#260A17;
	padding:20px 20px 20px 20px;
	margin:0;
	height:317px;
	width:283px;
	overflow:auto;
}
