<!-- $Id$ -->

<!-- ArmorySync Status Head -->
{J_SCRIPT}

{START_BORDER}
<div class="header_text {STYLE}border">
<table align="center" width="100%">
    <tr>
	<td width=33% align="center">
		{NEXT}
	</td>
	<td width=33% align="center">
		{TITLE}
	</td>
	<td width=33% align="right">
		{PROGRESSBAR}
	</td>
    </tr>
</table>
</div>

<table class="bodyline" cellspacing="0" align="center">
	<tr>
		<td>
			<table class="border_frame">
<!-- BEGIN head_col -->
				<th class="membersHeader ts_string">
					{head_col.HEAD_TITLE}
				</th>
<!-- END head_col -->
