<STYLE TYPE="text/css">
<!--
.GCH1 {
	font-size: x-large;
	text-align: center;
}
.GCH2 {
	font-weight: bold;
	text-decoration: underline;
}
.GCattend0 {
	font-size: small;
	vertical-align:top;
	background-color:#000033;
	color:#FFFFFF;
}
.GCattend1 {
	font-size: small;
	vertical-align:top;
	background-color:#000000;
	color:#FFFFFF;
}
.otherEvents {
	font-size: 10pt;
}
th.GCattend {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:thin;
}
#contents{
visibility: hidden;
position: absolute;
Z-INDEX: 999999;
width: 5px;
background-color:#000000;
}

#tooltipText{
visibility: hidden;
color: #ffffff;
font-family: verdana, arial, sans-serif;
font-size:8pt;
font-weight:normal;
padding: 4px;
white-space:nowrap;
background-color: #000000;
}
.trans_div {
}

/**************************************************************
********* Formatting For Color Coded Classes ******************
**************************************************************/
.classD { color: #CC6600; } 
.classH { color: #99CC66; } 
.classM { color: #66CCFF; } 
.classP { color: #FFFFFF; } 
.classR { color: #FFFF66; } 
.classS { color: #33CC99; } 
.classK { color: #855BCC; } 
.classW { color: #CC9966; }
.classL { color: #FF99CC; } 
/**************************************************************
********* Formatting For Month Table and Text *****************
**************************************************************/

/**** month and year header at top of calendar ****/
.date_header			{ font-size:16px; font-family:arial, helvetica; font-weight:bold; color:#FFFFFF; }

/**** color and size of calendar cells.  ****/
.day_number {color: #FFFFFF;}
.day_cell			{ background:url(../images/day.png) no-repeat; 
				height:135px; 
				width: 120px; }
.day_cell A:link		{ color:#ffffff; text-decoration:underline }
.day_cell A:active		{ color:#ffffff; text-decoration:underline }
.day_cell A:visited		{ color:#ffffff; text-decoration:underline }
.day_cell A:hover		{ color:#ffffff; text-decoration:underline }
.day_cell .day_number {color: #FFFFFF;}
.empty_day_cell			{ background:url(../images/day.png) no-repeat; 
				height:135px; 
				width: 120px; }
.today_cell			{ background:url(../images/today2.png) no-repeat; 
				height:135px; 
				width: 120px; }
.today_cell A:link		{ color:#ffffff; text-decoration:underline }
.today_cell A:active		{ color:#ffffff; text-decoration:underline }
.today_cell A:visited		{ color:#ffffff; text-decoration:underline }
.today_cell A:hover		{ color:#ffffff; text-decoration:underline }
.today_cell .day_number {color: #FFFFFF;}
/**** color and size of mini calendar cells.  ****/
.day_minicell			{ background-color:#EDECD8; height:30px; width: 35px; }
.day_minicell A:link		{ color:#000000; text-decoration:underline }
.day_minicell A:active		{ color:#000000; text-decoration:underline }
.day_minicell A:visited		{ color:#000000; text-decoration:underline }
.day_minicell A:hover		{ color:#000000; text-decoration:underline }
.empty_day_minicell		{ background-color:#EEEEEE; height:30px; width: 35px; }
.today_minicell			{ background-color:#F5F4ED; height:30px; width: 35px; }
.today_minicell A:link		{ color:#000000; text-decoration:underline }
.today_minicell A:active	{ color:#000000; text-decoration:underline }
.today_minicell A:visited	{ color:#000000; text-decoration:underline }
.today_minicell A:hover		{ color:#000000; text-decoration:underline }

/**** day number in upper left corner of each cell ****/
.day_number				{ font-size:10px; font-family:verdana, arial, helvetica; color:#FFFFFF }

/**** title_txt is the text for each post on main page ****/
.title_txt				{ color:#000000; font-size:10pt;}
.title_txt A:link		{ color:#ffffff; text-decoration:underline }
.title_txt A:active		{ color:#CBA300; text-decoration:underline }
.title_txt A:visited	{ color:#CBA300; text-decoration:underline }
.title_txt A:hover		{ color:#EABB00; text-decoration:underline }
.eventtoday {

color:#FFFFFF;
font-size:10pt;

}
.membersRowimg { vertical-align:middle; }
/**** time line under title text when event time given ****/
.time_str				{ color:#EABB00; font-size:8px; font-family:arial, helvetica }

/**** column headers or days of the week ****/
.column_header			{ background-color:#660000; font-size:12px; font-family:arial, helvetica; color:#FFFFFF; font-weight:bold }

/**** footprint text ****/
.footprint				{ font-size:10px; font-family:verdana, arial, helvetica; color:#000; font-weight:bold; }
.footprint A			{ font-size:10px; font-family:verdana, arial, helvetica; color:#00F; font-weight:bold; }
// end hiding -->
</STYLE>
