textarea {
	border:1px solid #CBA300;
	FONT-SIZE:10px;
	color:#FFFFFF;
	FONT-FAMILY:Verdana, Arial;
	background-color:#202020;
}

.textarea {
	border:1px solid #CBA300;
	color:#FFFFFF;
	font:10px Verdana, Arial;
	background-color:#202020;
}