<!-- BEGIN accounts_deny -->
{accounts_deny.BORDER_START}
<table class="bodyline" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td>
			<br />&nbsp;{accounts_deny.ACCESS_TXT}&nbsp;
			<p>&nbsp;</p>
		</td>
	</tr>
	<tr>
		<th class="membersHeader">
			<center><a href="{accounts_deny.INDEX_LINK}">{accounts_deny.INDEX_TXT}</a></center>
		</th>
	</tr>
	<tr>
		<td class = "membersHeader">
			<p>Your access level: </p>{accounts_deny.GROUP_ID}<br /><p>Required access level: </p>{accounts_deny.REQ_LVL}
		</td>
	</tr>
</table>
{accounts_deny.BORDER_END}
<!-- END accounts_deny -->