<!-- BEGIN accounts_index -->
<center>Welcome <a href="{accounts_index.USER_LINK}"><span id="username">{accounts_index.FNAME}</span></a>, you are logged in. [<a href="{accounts_index.LOGOUT}">logout</a>]</center>
<br />
{accounts_index.BORDER_START}
<br />
User: {accounts_index.USER}<br />
First Name: {accounts_index.FNAME}<br />
Last Name: {accounts_index.LNAME}<br />
User Group: {accounts_index.GROUPID}<br />
User E-mail: {accounts_index.EMAIL}<br />
{accounts_index.BORDER_END}
<!-- END accounts_index -->