<!-- BEGIN accounts_recruitment -->
{accounts_recruitment.BORDER_START}
	<div align="center" class="membersHeader"><strong>{accounts_recruitment.RECRUIT_TXT}</strong> {accounts_recruitment.STATUS}</div>
	<table width="100%" align="center">
	  <tr>
		<td class="membersRow1"><div align="right"><strong>{accounts_recruitment.DRUID_TXT}:</strong> </div></td>
		<td class="membersRow1"><div align="center">{accounts_recruitment.DRUID}</div></td>
	  </tr>
	  <tr>
		<td class="membersRow2"><div align="right"><strong>{accounts_recruitment.HUNTER_TXT}:</strong> </div></td>
		<td class="membersRow2"><div align="center">{accounts_recruitment.HUNTER}</div></td>
	  </tr>
	  <tr>
		<td class="membersRow1"><div align="right"><strong>{accounts_recruitment.MAGE_TXT}:</strong> </div></td>
		<td class="membersRow1"><div align="center">{accounts_recruitment.MAGE}</div></td>
	  </tr>
	  <tr>
		<td class="membersRow2"><div align="right"><strong>{accounts_recruitment.PALADIN_TXT}:</strong> </div></td>
		<td class="membersRow2"><div align="center">{accounts_recruitment.PALADIN}</div></td>
	  </tr>
	  <tr>
		<td class="membersRow1"><div align="right"><strong>{accounts_recruitment.PRIEST_TXT}:</strong> </div></td>
		<td class="membersRow1"><div align="center">{accounts_recruitment.PRIEST}</div></td>
	  </tr>
	  <tr>
		<td class="membersRow2"><div align="right"><strong>{accounts_recruitment.ROGUE_TXT}:</strong> </div></td>
		<td class="membersRow2"><div align="center">{accounts_recruitment.ROGUE}</div></td>
	  </tr>
	  <tr>
		<td class="membersRow1"><div align="right"><strong>{accounts_recruitment.SHAMAN_TXT}:</strong> </div></td>
		<td class="membersRow1"><div align="center">{accounts_recruitment.SHAMAN}</div></td>
	  </tr>
	  <tr>
		<td class="membersRow2"><div align="right"><strong>{accounts_recruitment.WARLOCK_TXT}:</strong> </div></td>
		<td class="membersRow2"><div align="center">{accounts_recruitment.WARLOCK}</div></td>
	  </tr>
	  <tr>
		<td class="membersRow1"><div align="right"><strong>{accounts_recruitment.WARRIOR_TXT}:</strong> </div></td>
		<td class="membersRow1"><div align="center">{accounts_recruitment.WARRIOR}</div></td>
	  </tr>
	</table>
{accounts_recruitment.BORDER_END}
<!-- END accounts_recruitment -->