

			<!-- BEGIN body_row -->

					<div class="tier-3-a">
						<div class="tier-3-b">
							<div class="skill">
							<div class="skill-name" style="width:{body_row.WIDTH};text-align: center;">{body_row.LINE_VALUE}</div>
							<!-- BEGIN line -->
								<div class="skill-name" style="width:{body_row.line.WIDTH};text-align: center;">{body_row.line.LINE_VALUE}</div>
							<!-- END line -->
								
							</div>
						</div>
					</div>

			<!-- END body_row -->

			<!-- IF MEMBERSLIST eq "1" -->
				<!-- BEGIN body_rowx -->
					<div class="border_color sgreenborder" style="background:black;height:400px;width:100%;overflow:auto;" id="msgbox_data_error">
						{body_rowx.LOG}
					</div>
				<!-- END body_rowx -->
			<!-- ENDIF -->

				</div>
			</div>
		</div>
	</div>
</div>
