<!-- $Id$ -->
</div><div></div><div></div></div></div></div>
<!-- ArmorySync Footer -->
<br />
<hr />
<small>ArmorySync v{APISYNC_VERSION}</small>
<br />
<small>{APISYNC_CREDITS}</small>
<br />
<br />
<small>{RUNTIME}</small>
<br />
<div id="armorysync_error">
<!-- IF ERROR -->
<br />
<div class="tier-1-a">
	<div class="tier-1-b">
		<div class="tier-1-c">
			<div class="tier-1-title">ApiSync Error</div>
			<div class="tier-2-a">
				<div class="tier-2-b">
					<div class="tier-2-title">
						<table width=100%>
							<td width="10%">Line</td>
							<td width="10%">Time</td>
							<td width="10%">File</td>
							<td width="20%">Class</td>
							<td width="30%">Functions</td>
							<td width="10%">Info</td>
							<td width="10%">Status</td>
						</table>
					</div>
<!-- BEGIN e_row -->
					<div class="tier-6-a">
						<div class="tier-6-b">
							<table width="100%">
								<tr>
									<td width="10%">{e_row.LINE}</td>
									<td width="10%">{e_row.TIME}</td>
									<td width="10%">{e_row.FILE}</td>
									<td width="20%">{e_row.CLASS}</td>
									<td width="30%">{e_row.FUNC}</td>
									<td width="10%">{e_row.INFO}</td>
									<td width="10%">{e_row.STATUS}</td>
								</tr>
							</table>
						</div>
					</div>
<!-- IF DEBUG_DATA -->
					<div class="tier-1-a">
						<div class="tier-1-b">
							<div class="tier-1-c">
								<div class="tier-1-title">Arguments</div>
								{e_row.ARGS}
							</div>
							<div class="tier-1-title">Returns</div>
								{e_row.RET}
						</div>
					</div>


<!-- ENDIF -->
<!-- END e_row -->
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ENDIF -->
</div>
<!-- IF DEBUG -->
<br />
<div class="tier-1-a">
	<div class="tier-1-b">
		<div class="tier-1-c">
			<div class="tier-1-title">ApiSync Debugging</div>
			<div class="tier-2-a">
				<div class="tier-2-b">
					<div class="tier-2-title">
						<table width=100%>
							<td width="10%">Line</td>
							<td width="10%">Time</td>
							<td width="10%">Class</td>
							<td width="20%">Function</td>
							<td width="30%">Info</td>
							<td width="10%">Status</td>
						</table>
					</div>
<!-- BEGIN d_row -->
					<div class="tier-6-a">
						<div class="tier-6-b">
							<table width="100%">
								<tr>
									<td width="10%">{d_row.LINE}</td>
									<td width="10%">{d_row.TIME}</td>
									<td width="10%">{d_row.CLASS}</td>
									<td width="20%">{d_row.FUNC}</td>
									<td width="30%">{d_row.INFO}</td>
									<td width="10%">{d_row.STATUS}</td>
								</tr>
							</table>
						</div>
					</div>
<!-- IF DEBUG_DATA -->
					<div class="tier-1-a">
						<div class="tier-1-b">
							<div class="tier-1-c">
								<div class="tier-1-title">Arguments</div>
								{d_row.ARGS}
							</div>
							<div class="tier-1-title">Returns</div>
								{d_row.RET}
						</div>
					</div>


<!-- ENDIF -->
<!-- END d_row -->
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ENDIF -->
<!-- IF S_SQL_WIN -->
<br />
<div class="tier-1-a">
	<div class="tier-1-b">
		<div class="tier-1-c">
			<div class="tier-1-title">SQL Debug</div>
			<div class="tier-2-a">
				<div class="tier-2-b">
					<div class="tier-2-title">
						<table width=100%>
							<td width="10%">Line</td>
							<td width="10%">Time</td>
							<td width="80%">Query</td>
						</table>
					</div>
<!-- BEGIN sql_debug -->
					<div class="tier-6-a">
						<div class="tier-6-b">
							<table width="100%">
								<tr>
									<td width="10%">{sql_debug.FILE}</th>
								</tr>
							</table>
						</div>
					</div>
<!-- BEGIN row -->
					<div class="tier-1-a">
					<!--#	<div class="tier-6-b">-->
							<table width="100%">
								<tr>
									<td width="10%">{sql_debug.row.LINE}</td>
									<td width="10%">{sql_debug.row.TIME}</td>
									<td width="80%">{sql_debug.row.QUERY}</td>
								</tr>
							</table>
					<!--#	</div>-->
					</div>
<!-- END row -->
<!-- END sql_debug -->
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ENDIF -->
</div>