<!-- $Id$ -->

<!-- ArmorySync Status Body -->
					<table class="asupdate" cellspacing="0" cellpadding="0" width="100%">
					
					<!-- BEGIN body_row -->
						<tr class="asrow{body_row.COLOR}" >
							<!-- IF CHARLIST -->
							<td width="85px"><div style="text-align: center;" id="as_status_name_{body_row.ASID}">{body_row.NAME}</div></td>
							<!-- ENDIF -->
							<td width="100px"><div style="text-align: center;" id="as_status_guild_{body_row.ASID}">{body_row.GUILD}</div></td>
							<!-- IF MEMBERLIST -->
							<td width="40px"><div style="text-align: center;" id="as_status_guild_info_{body_row.ASID}">{body_row.GUILD_INFO}</div></td>
							<!-- ENDIF -->
							<!-- IF CHARLIST -->
							<td width="40px"><div style="text-align: center;" id="as_status_character_info_{body_row.ASID}">{body_row.CHARACTER_INFO}</div></td>
							<td width="40px"><div style="text-align: center;" id="as_status_skill_info_{body_row.ASID}">{body_row.SKILL_INFO}</div></td>
							<td width="40px"><div style="text-align: center;" id="as_status_reputation_info_{body_row.ASID}">{body_row.REPUTATION_INFO}</div></td>
							<td width="40px"><div style="text-align: center;" id="as_status_equipment_info_{body_row.ASID}">{body_row.EQUIPMENT_INFO}</div></td>
							<td width="40px"><div style="text-align: center;" id="as_status_talent_info_{body_row.ASID}">{body_row.TALENT_INFO}</div></td>
							<!-- ENDIF -->
							<td width="110px"><div style="text-align: center;" id="as_status_starttimeutc_{body_row.ASID}">{body_row.STARTTIMEUTC}</div></td>
							<td width="110px"><div style="text-align: center;" id="as_status_stoptimeutc_{body_row.ASID}">{body_row.STOPTIMEUTC}</div></td>
							<td width="30px"><div style="text-align: right;" id="as_status_log_{body_row.ASID}">{body_row.LOG}</div></td>

								</tr>
							<!-- END body_row -->
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
	
	
	
