<!-- $Id$ -->

<!-- ArmorySync Status Head -->

<form name="linker" action="{LINK}" method="post">
        <input type="hidden" name="job_id" value="{JOB_ID}" />
        <input type="hidden" name="StatusHidden" value="{STATUSHIDDEN}" />
		<!-- IF DEBUG neq "" -->
		{DEBUG}
		<!-- ENDIF -->
</form>

<div class="container">
	<div class="tier-1-a">
        <div class="tier-1-b">
			<div class="tier-1-c">
				<div class="tier-1-title" style="cursor:pointer;" onclick="showHide('status','asimg','{THEME_PATH}/images/button_close.png','{THEME_PATH}/images/button_open.png');">
					<div class="header_text" style="background-image:none;">
					<table align="center" width="100%" cellspacing="0" cellpadding="0">
						<tr>
							<td id="progress_title" width="33%" align="left">{TITLE}</td>
							<td id="progress_next" width="33%" align="center">{NEXT}</td>
							<td width="33%" align="right">
								{PROGRESSBAR}
							</td>
							<td>
								<div class="toggle">
									<img id="asimg" src="{THEME_PATH}/images/button_close.png"/>
								</div>
							</td>
						</tr>
					</table>
					</div>
					
                </div>
				</div>
			    <div class="tier-2-a" id="status" <!-- IF DISPLAY neq "" --> style="display:{DISPLAY};"<!-- ENDIF -->>
                	<div class="tier-2-b">
						<div class="tier-2-title">
							<table cellspacing="0" cellpadding="0" width="100%">
							<tr>
								<!-- BEGIN head_col -->
									<td style="text-align: center;" width="{head_col.HEAD_WIDTH}">{head_col.HEAD_TITLE}</td>
								<!-- END head_col -->
							</tr>
							</table>
							</div>
			
						
							
							
