<br>
<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sgreenborder">
			<div class="header_text sgreenborder">{GUILDNAME}'s Members</div>
			<table width="700" cellspacing="0" cellpadding="0">
				<tr>
					<td class="membersHeader">{TNAME}</td>
					<td class="membersHeader">{TCLASS}</td>
					<td class="membersHeader">{TLEVEL}</td>
					<td class="membersHeader">{TTRADE}</td>
					<td class="membersHeader">{TINSTANCE}</td>
				</tr>
				<!-- BEGIN members -->
				<tr>
					<td class="membersRowColor{members.STRIPE}">{members.NAME}</td>
					<td class="membersRowColor{members.STRIPE}">{members.CLASS}</td>
					<td class="membersRowColor{members.STRIPE}">{members.LEVEL}</td>
					<td class="membersRowColor{members.STRIPE}">{members.TRADE}</td>
					<td class="membersRowColor{members.STRIPE}">{members.INST}</td>
				</tr>
				<!-- END members -->
			</table>
		</td>
	</tr>
</table>