<!-- BEGIN accounts_application -->
{accounts_application.BORDER_START}
<div align="center"><font color="#FF0000">*</font> Required Items</p> </div>
<form action="{accounts_application.FORM_LINK}" method="POST">
  <table align="center" width="700" border="0" cellpadding="0">
    <tr bgcolor="#000000"> 
      <td height="30" colspan="4"><div align="center"><font color="#DD6900"><strong>Your Information </strong>(strictly confidential)</font></div></td>
    </tr>
    <tr> 
      <td width="100"><div align="right"><strong>Your Name&nbsp;</strong></div></td>
      <td width="245"><input type="text" id="Name1" name="Name1" value="<?php echo "$Name1"?>" size="35"> 
        <font color="#FF0000">*</font></td>
      <td width="95"><div align="right"><strong>E-mail&nbsp;</strong></div></td>
      <td width="250"><input type="text" id="Email" name="Email" value="<?php echo "$Email"?>" size="35"> 
        <font color="#FF0000">*</font></td>
    </tr>
    <tr>
      <td><div align="right"><strong>Age&nbsp;</strong></div></td>
      <td><select id="Age" name="Age">
        <?php
			if ($Processed == 1){  //If we have already processed once, load selected based upon previously selected value
				if ($Age == 1){
				echo "<option value=\"1\" selected>Under 16</option>
					<option value=\"2\">16-20</option>
					<option value=\"3\">21-30</option>
					<option value=\"4\">Over 30</option>";
				} elseif ($Age == 2){
				echo "<option value=\"2\" selected>16-20</option>
					<option value=\"1\">Under 16</option>
					<option value=\"3\">21-30</option>
					<option value=\"4\">Over 30</option>";
				} elseif ($Age == 3){
				echo "<option value=\"3\" selected>21-30</option>
					<option value=\"1\">Under 16</option>
					<option value=\"2\">16-20</option>
					<option value=\"4\">Over 30</option>";
				} elseif ($Age == 4){
				echo "<option value=\"4\" selected>Over 30</option>
					<option value=\"1\">Under 16</option>
					<option value=\"2\">16-20</option>
					<option value=\"3\">21-30</option>";
    			} elseif ($Age == 5){
				echo "<option value=\"5\" selected>Select an Age Group</option>
					<option value=\"1\">Under 16</option>
					<option value=\"2\">16-20</option>
					<option value=\"3\">21-30</option>
                    <option value=\"4\">Over 30</option>";
                }
			} else {
			echo "<option value=\"5\" selected>Select an Age Group</option>
			    <option value=\"1\">Under 16</option>
				<option value=\"2\">16-20</option>
				<option value=\"3\">21-30</option>
				<option value=\"4\">Over 30</option>";
			}
				?>
      </select>
      <font color="#FF0000"> *</font>
      </td>
      <td><div align="right"><strong>Time Zone&nbsp;</strong></div></td>
      <td><select id="Zone" name="Zone">
        <?php
			if ($Processed == 1){  //If we have already processed once, load selected based upon previously selected value
				if ($Zone == 1){
				echo "<option value=\"1\" selected>Eastern</option>
					<option value=\"2\">Central</option>
					<option value=\"3\">Mountain</option>
					<option value=\"4\">Pacific</option>
					<option value=\"5\">Other</option>";
				} elseif ($Zone == 2){
				echo "<option value=\"2\" selected>Central</option>
					<option value=\"1\">Eastern</option>
					<option value=\"3\">Mountain</option>
					<option value=\"4\">Pacific</option>
					<option value=\"5\">Other</option>";
				} elseif ($Zone == 3){
				echo "<option value=\"3\" selected>Mountain</option>
					<option value=\"1\">Eastern</option>
					<option value=\"2\">Central</option>
					<option value=\"4\">Pacific</option>
					<option value=\"5\">Other</option>";
				} elseif ($Zone == 4){
				echo "<option value=\"4\" selected>Pacific</option>
					<option value=\"1\">Eastern</option>
					<option value=\"2\">Central</option>
					<option value=\"3\">Mountain</option>
					<option value=\"5\">Other</option>";
				} elseif ($Zone == 5){
				echo "<option value=\"5\" selected>Other</option>
					<option value=\"1\">Eastern</option>
					<option value=\"2\">Central</option>
					<option value=\"3\">Mountain</option>
					<option value=\"4\">Pacific</option>";
            }
			} else {
			echo "<option value=\"1\" selected>Eastern</option>
					<option value=\"2\">Central</option>
					<option value=\"3\">Mountain</option>
					<option value=\"4\">Pacific</option>
					<option value=\"5\">Other</option>";
			}
				?>
      </select></td>
    </tr>
    <tr> 
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr bgcolor="#000000"> 
      <td height="30" colspan="4"><div align="center">        <strong><font color="#DD6900">Main Character Information</font></strong></div></td>
    </tr>
    <tr>
      <td colspan="4"></td>
    </tr>
    <tr> 
      <td><div align="right"><strong>Name&nbsp;</strong></div></td>
      <td><input type="text" id="Name2" name="Name2" value="<?php echo "$Name2"?>" size="35"> 
        <font color="#FF0000">*</font></td>
      <td><div align="right"><strong>Class&nbsp;</strong></div></td>
      <td><select id="Class" name="Class">
          <?php
			if ($Processed == 1){  //If we have already processed once, load selected based upon previously selected value
				if ($Class == 1){
				echo "<option value=\"1\" selected>Warrior</option>
					<option value=\"2\">Hunter</option>
					<option value=\"3\">Rogue</option>
					<option value=\"4\">Priest</option>
					<option value=\"5\">Shaman</option>
					<option value=\"6\">Druid</option>
					<option value=\"7\">Mage</option>
					<option value=\"8\">Warlock</option>
					<option value=\"9\">Paladin</option>";
				} elseif ($Class == 2){
				echo "<option value=\"2\" selected>Hunter</option>
					<option value=\"1\">Warrior</option>
					<option value=\"3\">Rogue</option>
					<option value=\"4\">Priest</option>
					<option value=\"5\">Shaman</option>
					<option value=\"6\">Druid</option>
					<option value=\"7\">Mage</option>
					<option value=\"8\">Warlock</option>
					<option value=\"9\">Paladin</option>";
				} elseif ($Class == 3){
				echo "<option value=\"3\" selected>Rogue</option>
					<option value=\"1\">Warrior</option>
					<option value=\"2\">Hunter</option>
					<option value=\"4\">Priest</option>
					<option value=\"5\">Shaman</option>
					<option value=\"6\">Druid</option>
					<option value=\"7\">Mage</option>
					<option value=\"8\">Warlock</option>
					<option value=\"9\">Paladin</option>";
				} elseif ($Class == 4){
				echo "<option value=\"4\" selected>Priest</option>
					<option value=\"1\">Warrior</option>
					<option value=\"2\">Hunter</option>
					<option value=\"3\">Rogue</option>
					<option value=\"5\">Shaman</option>
					<option value=\"6\">Druid</option>
					<option value=\"7\">Mage</option>
					<option value=\"8\">Warlock</option>
					<option value=\"9\">Paladin</option>";
				} elseif ($Class == 5){
				echo "<option value=\"5\" selected>Shaman</option>
					<option value=\"1\">Warrior</option>
					<option value=\"2\">Hunter</option>
					<option value=\"3\">Rogue</option>
					<option value=\"4\">Priest</option>
					<option value=\"6\">Druid</option>
					<option value=\"7\">Mage</option>
					<option value=\"8\">Warlock</option>
					<option value=\"9\">Paladin</option>";
				} elseif ($Class == 6){
				echo "<option value=\"6\" selected>Druid</option>
					<option value=\"1\">Warrior</option>
					<option value=\"2\">Hunter</option>
					<option value=\"3\">Rogue</option>
					<option value=\"4\">Priest</option>
					<option value=\"5\">Shaman</option>
					<option value=\"7\">Mage</option>
					<option value=\"8\">Warlock</option>
					<option value=\"9\">Paladin</option>";
				} elseif ($Class == 7){
				echo "<option value=\"7\" selected>Mage</option>
					<option value=\"1\">Warrior</option>
					<option value=\"2\">Hunter</option>
					<option value=\"3\">Rogue</option>
					<option value=\"4\">Priest</option>
					<option value=\"5\">Shaman</option>
					<option value=\"6\">Druid</option>
					<option value=\"8\">Warlock</option>
					<option value=\"9\">Paladin</option>";
				} elseif ($Class == 8){
				echo "<option value=\"8\" selected>Warlock</option>
					<option value=\"1\">Warrior</option>
					<option value=\"2\">Hunter</option>
					<option value=\"3\">Rogue</option>
					<option value=\"4\">Priest</option>
					<option value=\"5\">Shaman</option>
					<option value=\"6\">Druid</option>
					<option value=\"7\">Mage</option>
					<option value=\"9\">Paladin</option>";
				} elseif ($Class == 9){
				echo "<option value=\"9\" selected>Paladin</option>
					<option value=\"1\">Warrior</option>
					<option value=\"2\">Hunter</option>
					<option value=\"3\">Rogue</option>
					<option value=\"4\">Priest</option>
					<option value=\"5\">Shaman</option>
					<option value=\"6\">Druid</option>
					<option value=\"7\">Mage</option>
					<option value=\"8\">Warlock</option>";
				} elseif ($Class == 10) {
				echo "<option value=\"10\" selected>Select a Class</option>
				    <option value=\"1\">Warrior</option>
					<option value=\"2\">Hunter</option>
					<option value=\"3\">Rogue</option>
					<option value=\"4\">Priest</option>
					<option value=\"5\">Shaman</option>
					<option value=\"6\">Druid</option>
					<option value=\"7\">Mage</option>
					<option value=\"8\">Warlock</option>
					<option value=\"9\">Paladin</option>";
				}
			} else {
			echo "<option value=\"10\" selected>Select a Class</option>
				<option value=\"1\">Warrior</option>
				<option value=\"2\">Hunter</option>
				<option value=\"3\">Rogue</option>
				<option value=\"4\">Priest</option>
				<option value=\"5\">Shaman</option>
				<option value=\"6\">Druid</option>
				<option value=\"7\">Mage</option>
				<option value=\"8\">Warlock</option>
                <option value=\"9\">Paladin</option>";
			}
			?>
        </select>
		<font color="#FF0000">*</font></td>
    </tr>
    <tr> 
      <td><div align="right"><strong>Level&nbsp;</strong></div></td>
      <td><input id="Level" name="Level" type="text" value="<?php echo "$Level"?>" size="2" maxlength="2">
        <font color="#FF0000">*</font></td>
      <td><div align="right"><strong>First Aid Level&nbsp;</strong></div></td>
      <td><input id="FirstAid" type="text" name="FirstAid" value="<?php echo "$FirstAid"?>" size="3" maxlength="3"></td>
    </tr>
    <tr>
      <td><div align="right"><strong>Profession 1&nbsp;</strong></div></td>
      <td><select id="Profession1" name="Profession1">
        <?php
			if ($Processed == 1){  //If we have already processed once, load selected based upon previously selected value
				if ($Profession1 == 1){
				echo "<option value=\"1\" selected>Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"4\">Engineering</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"7\">Mining</option>
					<option value=\"8\">Skinning</option>
					<option value=\"9\">Tailoring</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession1 == 2){
				echo "<option value=\"2\" selected>Blacksmithing</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"4\">Engineering</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"7\">Mining</option>
					<option value=\"8\">Skinning</option>
					<option value=\"9\">Tailoring</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession1 == 3){
				echo "<option value=\"3\" selected>Enchanting</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"4\">Engineering</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"7\">Mining</option>
					<option value=\"8\">Skinning</option>
					<option value=\"9\">Tailoring</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession1 == 4){
				echo "<option value=\"4\" selected>Engineering</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"7\">Mining</option>
					<option value=\"8\">Skinning</option>
					<option value=\"9\">Tailoring</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession1 == 5){
				echo "<option value=\"5\" selected>Herbalism</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"4\">Engineering</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"7\">Mining</option>
					<option value=\"8\">Skinning</option>
					<option value=\"9\">Tailoring</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession1 == 6){
				echo "<option value=\"6\" selected>Leatherworking</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"4\">Engineering</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"7\">Mining</option>
					<option value=\"8\">Skinning</option>
					<option value=\"9\">Tailoring</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession1 == 7){
				echo "<option value=\"7\" selected>Mining</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"4\">Engineering</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"8\">Skinning</option>
					<option value=\"9\">Tailoring</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession1 == 8){
				echo "<option value=\"8\" selected>Skinning</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"4\">Engineering</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"7\">Mining</option>
					<option value=\"9\">Tailoring</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession1 == 9){
				echo "<option value=\"9\" selected>Tailoring</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"4\">Engineering</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"7\">Mining</option>
					<option value=\"8\">Skinning</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession1 == 10){
				echo "<option value=\"10\" selected>Jewel Crafting</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"4\">Engineering</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"7\">Mining</option>
					<option value=\"8\">Skinning</option>
					<option value=\"9\">Tailoring</option>";
				}
			} else {
			echo "<option value=\"1\" selected>Alchemy</option>
				<option value=\"2\">Blacksmithing</option>
				<option value=\"3\">Enchanting</option>
				<option value=\"4\">Engineering</option>
				<option value=\"5\">Herbalism</option>
				<option value=\"6\">Leatherworking</option>
				<option value=\"7\">Mining</option>
				<option value=\"8\">Skinning</option>
				<option value=\"9\">Tailoring</option>
				<option value=\"10\">Jewel Crafting</option>";
			}
				?>
      </select>
        &nbsp;&nbsp;<strong>Skill Level</strong>&nbsp;
        <input id="Prof1Level" name="Prof1Level" type="text" value="<?php echo "$Prof1Level"?>" size="3" maxlength="3"></td>
      <td><div align="right"><strong>Profession 2&nbsp;</strong></div></td>
      <td><select id="Profession2" name="Profession2">
          <?php
			if ($Processed == 1){  //If we have already processed once, load selected based upon previously selected value
				if ($Profession2 == 1){
				echo "<option value=\"1\" selected>Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"4\">Engineering</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"7\">Mining</option>
					<option value=\"8\">Skinning</option>
					<option value=\"9\">Tailoring</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession2 == 2){
				echo "<option value=\"2\" selected>Blacksmithing</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"4\">Engineering</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"7\">Mining</option>
					<option value=\"8\">Skinning</option>
					<option value=\"9\">Tailoring</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession2 == 3){
				echo "<option value=\"3\" selected>Enchanting</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"4\">Engineering</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"7\">Mining</option>
					<option value=\"8\">Skinning</option>
					<option value=\"9\">Tailoring</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession2 == 4){
				echo "<option value=\"4\" selected>Engineering</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"7\">Mining</option>
					<option value=\"8\">Skinning</option>
					<option value=\"9\">Tailoring</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession2 == 5){
				echo "<option value=\"5\" selected>Herbalism</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"4\">Engineering</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"7\">Mining</option>
					<option value=\"8\">Skinning</option>
					<option value=\"9\">Tailoring</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession2 == 6){
				echo "<option value=\"6\" selected>Leatherworking</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"4\">Engineering</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"7\">Mining</option>
					<option value=\"8\">Skinning</option>
					<option value=\"9\">Tailoring</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession2 == 7){
				echo "<option value=\"7\" selected>Mining</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"4\">Engineering</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"8\">Skinning</option>
					<option value=\"9\">Tailoring</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession2 == 8){
				echo "<option value=\"8\" selected>Skinning</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"4\">Engineering</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"7\">Mining</option>
					<option value=\"9\">Tailoring</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession2 == 9){
				echo "<option value=\"9\" selected>Tailoring</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"4\">Engineering</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"7\">Mining</option>
					<option value=\"8\">Skinning</option>
					<option value=\"10\">Jewel Crafting</option>";
				} elseif ($Profession2 == 10){
				echo "<option value=\"10\" selected>Jewel Crafting</option>
					<option value=\"1\">Alchemy</option>
					<option value=\"2\">Blacksmithing</option>
					<option value=\"3\">Enchanting</option>
					<option value=\"4\">Engineering</option>
					<option value=\"5\">Herbalism</option>
					<option value=\"6\">Leatherworking</option>
					<option value=\"7\">Mining</option>
					<option value=\"8\">Skinning</option>
					<option value=\"9\">Tailoring</option>";
				}
			} else {
			echo "<option value=\"1\" selected>Alchemy</option>
				<option value=\"2\">Blacksmithing</option>
				<option value=\"3\">Enchanting</option>
				<option value=\"4\">Engineering</option>
				<option value=\"5\">Herbalism</option>
				<option value=\"6\">Leatherworking</option>
				<option value=\"7\">Mining</option>
				<option value=\"8\">Skinning</option>
				<option value=\"9\">Tailoring</option>
				<option value=\"10\">Jewel Crafting</option>";
			}
			?>
        </select>
&nbsp;&nbsp;<strong>Skill Level</strong>&nbsp;
  <input id="Prof2Level" name="Prof2Level" type="text" value="<?php echo "$Prof2Level"?>" size="3" maxlength="3"></td>
    </tr>
    <tr>
      <td colspan="4" height="10"></td>
    </tr>
    <tr>
      <td colspan="4"><div align="center"> 
        <table width="550" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="25" bgcolor="#333333"><div align="center"><strong><font color="#FFCC00">Talent Build</font></strong></div></td>
          </tr>
        </table>
        <strong></strong></div></td>
    </tr>
    <tr>
      <td colspan="4"><table align="center"width="80%"  border="0">
        <tr>
          <td width="56%"><strong>Name/Description&nbsp;
            <input id="Spec" type="text" name="Spec" value="<?php echo "$Spec"?>" size="35">
          </strong></td>
          <td width="44%"><strong>Point Distribution&nbsp;</strong> <input id="Spec1" name="Spec1" type="text" value="<? echo "$Spec1"?>" size="2" maxlength="2">
/
  <input id="Spec2" name="Spec2" type="text" value="<?php echo "$Spec2"?>" size="2" maxlength="2">
/
<input id="Spec3" name="Spec3" type="text" value="<?php echo "$Spec3"?>" size="2" maxlength="2"></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td colspan="4" height="10"></td>
    </tr>
    <tr>
      <td colspan="4"><div align="center"> 
        <table width="550" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="25" bgcolor="#333333"><div align="center"><strong><font color="#FFCC00">Resistances (unbuffed)</font></strong></div></td>
          </tr>
        </table>
        <strong></strong></div></td>
    </tr>
    <tr>
      <td colspan="4">
        <table width="450" border="0" align="center" cellpadding="0">
          <tr>
            <td width="78"><div align="center"><strong>Fire&nbsp;
                <input id="Fireresist" type="text" name="Fireresist"  value="<?php echo "$Fireresist"?>" size="3" maxlength="3">
            </strong></div></td>
            <td width="92"><div align="center"><strong>Shadow
                  <input id="Shadowresist" type="text" name="Shadowresist"  value="<?php echo "$Shadowresist"?>" size="3" maxlength="3">
              </strong> </div></td>
            <td width="92"><div align="center"><strong> &nbsp;Nature&nbsp;
                <input id="Natureresist" type="text" name="Natureresist"  value="<?php echo "$Natureresist"?>" size="3" maxlength="3">
            </strong></div></td>
            <td width="92"><div align="center"><strong>Arcane&nbsp;
                <input id="Arcaneresist" type="text" name="Arcaneresist"  value="<?php echo "$Arcaneresist"?>" size="3" maxlength="3">
              </strong> </div></td>
            <td width="84"><div align="center"><strong>Frost&nbsp;
                <input id="Frostresist" type="text" name="Frostresist"  value="<?php echo "$Frostresist"?>" size="3" maxlength="3">
            </strong></div></td>
          </tr>
        </table>
	  </td>
    </tr>
    <tr>
      <td colspan="4" height="10"></td>
    </tr>
    <tr>
      <td colspan="4"><div align="center">
        <table width="550" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="25" bgcolor="#333333"><div align="center"><strong><font color="#FFCC00">Pre-BC Attunements/Keys</font></strong></div></td>
          </tr>
        </table>
        <table width="400" border="0" align="center" cellpadding="0">
          <tr>
            <td width="75" valign="middle"><div align="center"><strong>Onyxia
                      <input id="Key1" type="checkbox" name="Key1" <?php if ($Key1 == "on"){ echo "checked"; } ?>>
            </strong></div></td>
            <td width="100" valign="middle"><div align="center"><strong>Molten Core
                      <input id="Key2" type="checkbox" name="Key2" <?php if ($Key2 == "on"){ echo "checked"; } ?>>
            </strong></div></td>
            <td width="111" valign="middle"><div align="center"><strong>Blackwing Lair
                      <input id="Key3" type="checkbox" name="Key3" <?php if ($Key3 == "on"){ echo "checked"; } ?>>
            </strong></div></td>
            <td width="104" valign="middle"><div align="center"><strong>Naxxramas
                      <input id="Key4" type="checkbox" name="Key4" <?php if ($Key4 == "on"){ echo "checked"; } ?>>
            </strong></div></td>
          </tr>
        </table>
      </div></td>
    </tr>
    <tr>
      <td colspan="4" height="10"></td>
    </tr>
    <tr>
      <td colspan="4" height="50">
        <table width="550" align="center" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="25" bgcolor="#333333"><div align="center"><strong><font color="#FFCC00">Heroic Mode Keys</font></strong></div></td>
          </tr>
        </table>
      <table width="500" border="0" align="center" cellpadding="0">
        <tr>
          <td width="82" valign="middle"><div align="center"><strong> Auchenai
            <input id="Key5" type="checkbox" name="Key5" <?php if ($Key5 == "on"){ echo "checked"; } ?>>
          </strong></div></td>
          <td width="105" valign="middle"><div align="center"><strong> Warpforged
                <input id="Key6" type="checkbox" name="Key6" <?php if ($Key6 == "on"){ echo "checked"; } ?>>
          </strong></div></td>
          <td width="93" valign="middle"><div align="center"><strong> 
            Reservoir
              <input id="Key7" type="checkbox" name="Key7" <?php if ($Key7 == "on"){ echo "checked"; } ?>>
          </strong></div></td>
          <td width="105" valign="middle"><div align="center"><strong>Flamewrought
                <input id="Key8" type="checkbox" name="Key8" <?php if ($Key8 == "on"){ echo "checked"; } ?>>
          </strong></div></td>
          <td width="103" valign="middle"><div align="center"><strong> 
              Key of Time
                  <input id="Key9" type="checkbox" name="Key9" <?php if ($Key9 == "on"){ echo "checked"; } ?>>
          </strong></div></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td colspan="4" height="10"></td>
    </tr>
    <tr>
      <td colspan="4" height="10">
        <table width="550" align="center" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="25" bgcolor="#333333"><div align="center"><strong><font color="#FFCC00">BC Instance Keys</font></strong></div></td>
          </tr>
        </table>
      <table width="330" border="0" align="center" cellpadding="0">
        <tr>
          <td width="112" valign="middle"><div align="center"><strong> Shattered Halls
                <input id="Key10" type="checkbox" name="Key10" <?php if ($Key10 == "on"){ echo "checked"; } ?>>
          </strong></div></td>
          <td width="132" valign="middle"><div align="center"><strong> Shadow Labyrinth
                <input id="Key11" type="checkbox" name="Key11" <?php if ($Key11 == "on"){ echo "checked"; } ?>>
          </strong></div></td>
          <td width="78" valign="middle"><div align="center"><strong> Arcatraz 
                <input id="Key12" type="checkbox" name="Key12" <?php if ($Key12 == "on"){ echo "checked"; } ?>>
          </strong></div></td>
          </tr>
      </table></td>
    </tr>
    <tr>
      <td colspan="4" height="10"></td>
    </tr>
    <tr>
      <td valign="bottom" colspan="4">
        <table width="550" align="center" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="25" bgcolor="#333333"><div align="center"><strong><font color="#FFCC00">Endgame Keys</font></strong></div></td>
          </tr>
        </table>
      <table width="220" border="0" align="center" cellpadding="0">
        <tr>
          <td width="80" valign="middle"><div align="center"><strong> </strong><strong>          </strong></div>            
            <div align="center"><strong>Karazhan
                <input id="Key13" type="checkbox" name="Key13" <?php if ($Key13 == "on"){ echo "checked"; } ?>>
          </strong></div></td>
          <td width="114" valign="middle"><div align="center"><strong> Eye of the Storm
                    <input id="Key14" type="checkbox" name="Key14" <?php if ($Key14 == "on"){ echo "checked"; } ?>>
          </strong></div></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td valign="bottom" colspan="4" height="10"></td>
    </tr>
    <tr>
      <td valign="bottom" colspan="4"><div align="center"><strong>Please list your gear </strong>(or provide a link to your profile on <a href="http://www.ctprofiles.net/" target="_blank">ctprofiles.net</a> if available)<strong>:</strong></div></td>
    </tr>
    <tr>
      <td valign="bottom" colspan="4"><div align="center">
        <textarea id="Gear" name="Gear" rows="5" cols="100" ><?php echo "$Gear"?></textarea>
      </div></td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr bgcolor="#000000"> 
      <td height="30" colspan="4"><div align="center">        <strong><font color="#DD6900">Alternate Character Information</font></strong></div></td>
    </tr>
    <tr>
      <td valign="bottom" colspan="4"><div align="center"><strong>List any alternate characters you wish to bring into the guild:</strong> <br>
          <font color="#FFFF00">*</font> Required if alternate character name is entered      </div></td>
    </tr>
    <tr>
      <td valign="bottom" colspan="4"><table align="center" width="507"  border="0">
        <tr>
          <td width="254"><strong>Name</strong>&nbsp;
            <input type="text" id="Alt1Name" name="Alt1Name" value="<?php echo "$Alt1Name"?>" size="35"></td>
          <td width="164"><strong>Class</strong>             <select id="Alt1Class" name="Alt1Class">
			  <?php
				if ($Processed == 1){  //If we have already processed once, load selected based upon previously selected value
					if ($Alt1Class == 1){
					echo "<option value=\"1\" selected>Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt1Class == 2){
					echo "<option value=\"2\" selected>Hunter</option>
						<option value=\"1\">Warrior</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt1Class == 3){
					echo "<option value=\"3\" selected>Rogue</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt1Class == 4){
					echo "<option value=\"4\" selected>Priest</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt1Class == 5){
					echo "<option value=\"5\" selected>Shaman</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt1Class == 6){
					echo "<option value=\"6\" selected>Druid</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt1Class == 7){
					echo "<option value=\"7\" selected>Mage</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
				    } elseif ($Alt1Class == 8){
					echo "<option value=\"8\" selected>Warlock</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"9\">Paladin</option>";
				    } elseif ($Alt1Class == 9){
					echo "<option value=\"9\" selected>Paladin</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>";
					} elseif ($Alt1Class == 10) {
					echo "<option value=\"10\" selected>Select a Class</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					}
				} else {
				echo "<option value=\"10\" selected>Select a Class</option>
					<option value=\"1\">Warrior</option>
					<option value=\"2\">Hunter</option>
					<option value=\"3\">Rogue</option>
					<option value=\"4\">Priest</option>
					<option value=\"5\">Shaman</option>
					<option value=\"6\">Druid</option>
					<option value=\"7\">Mage</option>
					<option value=\"8\">Warlock</option>
					<option value=\"9\">Paladin</option>";
				}
				?>
			</select> 
            <font color="#FFFF00">*</font> 
		  </td>
          <td width="75"><strong>Level</strong> 
            <input id="Alt1Level" name="Alt1Level" type="text" value="<?php echo "$Alt1Level"?>" size="2" maxlength="2"> 
            <font color="#FFFF00">*</font> </td>
        </tr>
        <tr>
          <td><strong>Name</strong>&nbsp;
            <input type="text" id="Alt2Name" name="Alt2Name" value="<?php echo "$Alt2Name"?>" size="35"></td>
          <td><strong>Class</strong>             <select id="Alt2Class" name="Alt2Class">
                <?php
				if ($Processed == 1){  //If we have already processed once, load selected based upon previously selected value
					if ($Alt2Class == 1){
					echo "<option value=\"1\" selected>Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt2Class == 2){
					echo "<option value=\"2\" selected>Hunter</option>
						<option value=\"1\">Warrior</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt2Class == 3){
					echo "<option value=\"3\" selected>Rogue</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt2Class == 4){
					echo "<option value=\"4\" selected>Priest</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt2Class == 5){
					echo "<option value=\"5\" selected>Shaman</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt2Class == 6){
					echo "<option value=\"6\" selected>Druid</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt2Class == 7){
					echo "<option value=\"7\" selected>Mage</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
				    } elseif ($Alt2Class == 8){
					echo "<option value=\"8\" selected>Warlock</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"9\">Paladin</option>";
				    } elseif ($Alt2Class == 9){
					echo "<option value=\"9\" selected>Paladin</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>";
					} elseif ($Alt2Class == 10) {
					echo "<option value=\"10\" selected>Select a Class</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					}
				} else {
				echo "<option value=\"10\" selected>Select a Class</option>
					<option value=\"1\">Warrior</option>
					<option value=\"2\">Hunter</option>
					<option value=\"3\">Rogue</option>
					<option value=\"4\">Priest</option>
					<option value=\"5\">Shaman</option>
					<option value=\"6\">Druid</option>
					<option value=\"7\">Mage</option>
					<option value=\"8\">Warlock</option>
					<option value=\"9\">Paladin</option>";
				}
				?>
              </select> 
            <font color="#FFFF00">*</font> 
          </td>
          <td><strong>Level</strong> 
            <input id="Alt2Level" name="Alt2Level" type="text" value="<?php echo "$Alt2Level"?>" size="2" maxlength="2"> 
            <font color="#FFFF00">*</font> </td>
        </tr>
        <tr>
          <td><strong>Name</strong>&nbsp;
            <input type="text" id="Alt3Name" name="Alt3Name" value="<?php echo "$Alt3Name"?>" size="35"></td>
          <td><strong>Class</strong>             <select id="Alt3Class" name="Alt3Class">
                <?php
				if ($Processed == 1){  //If we have already processed once, load selected based upon previously selected value
					if ($Alt3Class == 1){
					echo "<option value=\"1\" selected>Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt3Class == 2){
					echo "<option value=\"2\" selected>Hunter</option>
						<option value=\"1\">Warrior</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt3Class == 3){
					echo "<option value=\"3\" selected>Rogue</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt3Class == 4){
					echo "<option value=\"4\" selected>Priest</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt3Class == 5){
					echo "<option value=\"5\" selected>Shaman</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt3Class == 6){
					echo "<option value=\"6\" selected>Druid</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					} elseif ($Alt3Class == 7){
					echo "<option value=\"7\" selected>Mage</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
				    } elseif ($Alt3Class == 8){
					echo "<option value=\"8\" selected>Warlock</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"9\">Paladin</option>";
				    } elseif ($Alt3Class == 9){
					echo "<option value=\"9\" selected>Paladin</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>";
					} elseif ($Alt3Class == 10) {
					echo "<option value=\"10\" selected>Select a Class</option>
						<option value=\"1\">Warrior</option>
						<option value=\"2\">Hunter</option>
						<option value=\"3\">Rogue</option>
						<option value=\"4\">Priest</option>
						<option value=\"5\">Shaman</option>
						<option value=\"6\">Druid</option>
						<option value=\"7\">Mage</option>
						<option value=\"8\">Warlock</option>
						<option value=\"9\">Paladin</option>";
					}
				} else {
				echo "<option value=\"10\" selected>Select a Class</option>
					<option value=\"1\">Warrior</option>
					<option value=\"2\">Hunter</option>
					<option value=\"3\">Rogue</option>
					<option value=\"4\">Priest</option>
					<option value=\"5\">Shaman</option>
					<option value=\"6\">Druid</option>
					<option value=\"7\">Mage</option>
					<option value=\"8\">Warlock</option>
					<option value=\"9\">Paladin</option>";
				}
				?>
              </select> 
            <font color="#FFFF00">*</font> 
          </td>
          <td><strong>Level</strong> 
            <input id="Alt3Level" name="Alt3Level" type="text" value="<?php echo "$Alt3Level"?>" size="2" maxlength="2"> 
            <font color="#FFFF00">*</font> </td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr bgcolor="#000000"><td height="30" colspan="4"><div align="center">        <strong><font color="#DD6900">Additional Information</font></strong></div></td>
    </tr>
    <tr>
      <td valign="bottom" colspan="4"><div align="center"><strong>On a scale of 1-10, how would you rate your playing style? </strong>(1=Casual, 10=Hardcore)&nbsp;
          <select id="Style" name="Style">
            <?php
			if ($Processed == 1){  //If we have already processed once, load selected based upon previously selected value
				if ($Style == 1){
				echo "<option value=\"1\" selected>1</option>
					<option value=\"2\">2</option>
					<option value=\"3\">3</option>
					<option value=\"4\">4</option>
					<option value=\"5\">5</option>
					<option value=\"6\">6</option>
					<option value=\"7\">7</option>
					<option value=\"8\">8</option>
					<option value=\"9\">9</option>
					<option value=\"10\">10</option>";
				} elseif ($Style == 2){
				echo "<option value=\"2\" selected>2</option>
					<option value=\"1\">1</option>
					<option value=\"3\">3</option>
					<option value=\"4\">4</option>
					<option value=\"5\">5</option>
					<option value=\"6\">6</option>
					<option value=\"7\">7</option>
					<option value=\"8\">8</option>
					<option value=\"9\">9</option>
					<option value=\"10\">10</option>";
				} elseif ($Style == 3){
				echo "<option value=\"3\" selected>3</option>
					<option value=\"1\">1</option>
					<option value=\"2\">2</option>
					<option value=\"4\">4</option>
					<option value=\"5\">5</option>
					<option value=\"6\">6</option>
					<option value=\"7\">7</option>
					<option value=\"8\">8</option>
					<option value=\"9\">9</option>
					<option value=\"10\">10</option>";
				} elseif ($Style == 4){
				echo "<option value=\"4\" selected>4</option>
					<option value=\"1\">1</option>
					<option value=\"2\">2</option>
					<option value=\"3\">3</option>
					<option value=\"5\">5</option>
					<option value=\"6\">6</option>
					<option value=\"7\">7</option>
					<option value=\"8\">8</option>
					<option value=\"9\">9</option>
					<option value=\"10\">10</option>";
				} elseif ($Style == 5){
				echo "<option value=\"5\" selected>5</option>
					<option value=\"1\">1</option>
					<option value=\"2\">2</option>
					<option value=\"3\">3</option>
					<option value=\"4\">4</option>
					<option value=\"6\">6</option>
					<option value=\"7\">7</option>
					<option value=\"8\">8</option>
					<option value=\"9\">9</option>
					<option value=\"10\">10</option>";
				} elseif ($Style == 6){
				echo "<option value=\"6\" selected>6</option>
					<option value=\"1\">1</option>
					<option value=\"2\">2</option>
					<option value=\"3\">3</option>
					<option value=\"4\">4</option>
					<option value=\"5\">5</option>
					<option value=\"7\">7</option>
					<option value=\"8\">8</option>
					<option value=\"9\">9</option>
					<option value=\"10\">10</option>";
				} elseif ($Style == 7){
				echo "<option value=\"7\" selected>7</option>
					<option value=\"1\">1</option>
					<option value=\"2\">2</option>
					<option value=\"3\">3</option>
					<option value=\"4\">4</option>
					<option value=\"5\">5</option>
					<option value=\"6\">6</option>
					<option value=\"8\">8</option>
					<option value=\"9\">9</option>
					<option value=\"10\">10</option>";
				} elseif ($Style == 8){
				echo "<option value=\"8\" selected>8</option>
					<option value=\"1\">1</option>
					<option value=\"2\">2</option>
					<option value=\"3\">3</option>
					<option value=\"4\">4</option>
					<option value=\"5\">5</option>
					<option value=\"6\">6</option>
					<option value=\"7\">7</option>
					<option value=\"9\">9</option>
					<option value=\"10\">10</option>";
				} elseif ($Style == 9){
				echo "<option value=\"9\" selected>9</option>
					<option value=\"1\">1</option>
					<option value=\"2\">2</option>
					<option value=\"3\">3</option>
					<option value=\"4\">4</option>
					<option value=\"5\">5</option>
					<option value=\"6\">6</option>
					<option value=\"7\">7</option>
					<option value=\"8\">8</option>
					<option value=\"10\">10</option>";
				} elseif ($Style == 10){
				echo "<option value=\"10\" selected>10</option>
					<option value=\"1\">1</option>
					<option value=\"2\">2</option>
					<option value=\"3\">3</option>
					<option value=\"4\">4</option>
					<option value=\"5\">5</option>
					<option value=\"6\">6</option>
					<option value=\"7\">7</option>
					<option value=\"8\">8</option>
					<option value=\"9\">9</option>";
				}
			} else {
			echo "<option value=\"1\" selected>1</option>
				<option value=\"2\">2</option>
				<option value=\"3\">3</option>
				<option value=\"4\">4</option>
				<option value=\"5\">5</option>
				<option value=\"6\">6</option>
				<option value=\"7\">7</option>
				<option value=\"8\">8</option>
				<option value=\"9\">9</option>
				<option value=\"10\">10</option>";
			}
				?>
          </select>
      </div></td>
    </tr>
    <tr>
      <td colspan="4" height="10"></td>
    </tr>
    <tr>
      <td valign="bottom"colspan="4"><div align="center"><strong>List any guilds you have been in or are currently in and reason(s) for leaving:</strong></div></td>
    </tr>
    <tr> 
      <td colspan="4" align="center"><textarea id="Guilds" name="Guilds" rows="5" cols="100" ><?php echo "$Guilds"?></textarea></td>
    </tr>
    <tr>
      <td colspan="4" height="10"></td>
    </tr>
    <tr> 
      <td valign="bottom" colspan="4">
	  <div align="center"><strong>List the instances you have experience in:</strong></div></td>
    </tr>
    <tr> 
      <td colspan="4" align="center"><textarea id="Instances" name="Instances" rows="5" cols="100" ><?php echo "$Instances"?></textarea></td>
    </tr>
    <tr>
      <td colspan="4" height="10"></td>
    </tr>
    <tr> 
      <td valign="bottom" colspan="4"><div align="center"><strong>Please tell us a little bit about yourself.<br>  
          What hours/days are you usually logged into WoW?<br> 
      Is there anything that you find relevant that is not covered above?      <br>
      </strong></div></td>
    </tr>
    <tr>
      <td colspan="4" align="center"><textarea id="Message" name="Message" rows="5" cols="100" ><?php echo "$Message"?></textarea></td>
    </tr>
    <tr>
      <td colspan="4" height="10"></td>
    </tr>
    <tr>
      <td colspan="4" height="10"><div align="center"><strong>
	<?php 

$count = 1;

	if ($showguildinfo){
		echo "Read the ";
		if ($guildrules){
			$count = $count + 1;
			echo "- <a href=\"$guildrules\" target=\"_blank\">Guild Rules </a>";
		}
		if ($raidinginfo){
			$count = $count + 1;
			echo "- <a href=\"$raidinginfo\" target=\"_blank\">Rank Structure </a>";
		}
   	    if ($rankstructure){
			$count = $count + 1;
			echo "- <a href=\"$rankstructure\" target=\"_blank\">Raiding Information</a>";
		}
		if ($count == 1){
			echo " - page";
		} else {
			echo " - pages";
		}		
	}
	?>	
	<br><br>
        <font color="#FF0000">*</font>Are you applying as a &quot;Friend&quot; or applying for a &quot;Member&quot; rank?<br>
        </strong></div></td>
    </tr>
    <tr>
      <td colspan="4" height="20"><div align="center">
		<table width="180" border="0" align="center" cellpadding="0">
		  <tr>
			<td width="62"><div align="right"><strong>Member&nbsp;</strong></div></td>
			<?php
			if ($Processed == 1){  //If we have already processed once, load selected based upon previously selected value
				if ($Rank == "Member"){
					echo "<td width=\"51\"><input name=\"Rank\" type=\"radio\" value=\"Member\" checked></td>
					<td width=\"52\"><div align=\"right\"><strong>Friend&nbsp;</strong></div></td>
					<td width=\"25\"><input name=\"Rank\" type=\"radio\" value=\"Friend\"></td>";
				} elseif ($Rank == "Friend"){
					echo "<td width=\"51\"><input name=\"Rank\" type=\"radio\" value=\"Member\"></td>
					<td width=\"52\"><div align=\"right\"><strong>Friend&nbsp;</strong></div></td>
					<td width=\"25\"><input name=\"Rank\" type=\"radio\" value=\"Friend\" checked></td>";
				} else {  //Nothing was selected...  Reload buttons
						echo "<td width=\"51\"><input name=\"Rank\" type=\"radio\" value=\"Member\"></td>
						<td width=\"52\"><div align=\"right\"><strong>Friend&nbsp;</strong></div></td>
						<td width=\"25\"><input name=\"Rank\" type=\"radio\" value=\"Friend\"></td>";
					}
			} else {
					echo "<td width=\"51\"><input name=\"Rank\" type=\"radio\" value=\"Member\"></td>
					<td width=\"52\"><div align=\"right\"><strong>Friend&nbsp;</strong></div></td>
					<td width=\"25\"><input name=\"Rank\" type=\"radio\" value=\"Friend\"></td>";
				}
			?>
		  </tr>
		</table>
      </td>
    </tr>
    <tr>
      <td colspan="4" height="10"></td>
    </tr>
    <tr>
      <td colspan="4"><div align="center"><strong>Contact(s) within the <?php echo"$guildname" ?> - name of reference(s) if any:</strong><br>
        <font color="#FF0000">*</font>Required when applying as a &quot;Friend&quot;<br>
		  <input name="Referral" type="text" id="Referral" value="<?php echo "$Referral"?>" size="50">
      </div></td>
    </tr>
    <tr>
      <td colspan="4" height="10"></td>
    </tr>
    <tr>
      <td colspan="4" align="center"><p><strong>All submissions are processed and evaluated.<br>
        <br>
      </strong><strong> <font color="#FF0000">Incomplete applications are generally rejected outright.<br>
      </font></strong><strong><br> 
        While we are a friendly - somewhat casual guild, we take applications seriously.<br>
        We expect our applicants to take the time to complete the form (consider it a test if you wish).<br>
          <br>
          Your acceptance into the guild is conditional on the guilds current class needs and space.</strong><strong><br>
          All accepted applicants go through a trial (evaluation) period.<br>
      At the end of this period  a determination is made as to whether they fit in the guild or not.</strong></p>
      </td>
    </tr>
	<tr>
	  <td align="center" colspan="4"><p><br>
          <input id="Submit" name="Submit" type="SUBMIT" value="Submit Application">
			&nbsp;&nbsp;
          <input id="Reset" name="Reset" type="RESET" value="Reset Form">
        </p></td>
	</tr>
  </table>
</form>
{accounts_application.BORDER_END}
<!-- END accounts_application -->