<!-- BEGIN accounts_index -->
{accounts_index.MESSAGE}
<br />
{accounts_index.BORDER_START}
<br />
{accounts_index.WELCOME_TXT}
<br />
<br />
<!-- IF accounts_index.IF_APP == 0 --><p><a href="{accounts_index.REGISTER_LINK}">{accounts_index.REG_CLICK}</a></p>
<!-- ELSE --><p><a href="{accounts_index.APP_LINK}">{accounts_index.APP_CLICK}</a></p><!-- ENDIF -->
<p><a href="{accounts_index.LOGIN_LINK}">{accounts_index.LOGIN_CLICK}</a></p>
{accounts_index.BORDER_END}
<br />
{accounts_index.RECRUIT_BOX}
<!-- END accounts_index -->