<!-- $Id$ -->

<!-- ArmorySync Status Body -->
							<!-- BEGIN body_row -->
							<div class="tier-3-a">
								<div class="tier-3-b">
									<div class="text" style="color:#FFF;">

									<!-- IF CHARLIST -->
									<div style="width: 120px; text-align: left;" id="as_status_name_{body_row.ASID}">{body_row.NAME}</div>
									<!-- ENDIF -->
									<div style="width: 120px; text-align: left;" id="as_status_guild_{body_row.ASID}">{body_row.GUILD}</div>
									<!-- IF MEMBERLIST -->
									<div style="width: 50px; text-align: center;" id="as_status_guild_info_{body_row.ASID}">{body_row.GUILD_INFO}</div>
									<!-- ENDIF -->
									<div style="width: 150px; text-align: center;" id="as_status_starttimeutc_{body_row.ASID}">{body_row.STARTTIMEUTC}</div>
									<!-- IF CHARLIST -->
									<div style="width: 50px; text-align: center;" id="as_status_character_info_{body_row.ASID}">{body_row.CHARACTER_INFO}</div>
									<div style="width: 50px; text-align: center;" id="as_status_skill_info_{body_row.ASID}">{body_row.SKILL_INFO}</div>
									<div style="width: 50px; text-align: center;" id="as_status_reputation_info_{body_row.ASID}">{body_row.REPUTATION_INFO}</div>
									<div style="width: 50px; text-align: center;" id="as_status_equipment_info_{body_row.ASID}">{body_row.EQUIPMENT_INFO}</div>
									<div style="width: 50px; text-align: center;" id="as_status_talent_info_{body_row.ASID}">{body_row.TALENT_INFO}</div>
									<!-- ENDIF -->
									<div style="width: 150px; text-align: center;" id="as_status_stoptimeutc_{body_row.ASID}">{body_row.STOPTIMEUTC}</div>
									<div style="width: 30px; text-align: right;" id="as_status_log_{body_row.ASID}">{body_row.LOG}</div>

									</div>
								</div>
							</div>
							<!-- END body_row -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
	
	
	
