<!-- INCLUDE guildspeak/tpl_style.html -->
<!-- BEGIN listing_top -->

<table align="center" border="0" cellpadding="0" cellspacing="0" width="{listing_top.TABLEWIDTH}" class="listfont">
  <tr>
    <td>
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td valign="top">
            <table cellpadding="2" cellspacing="0" width="100%">
              <tr>
                <td align="center" bgcolor="{listing_top.CATROWCOLOR1}" class="catagory" colspan="8"><a href="{listing_top.ACTIVE_SERVERS_LNK}">Active Servers</a>: {listing_top.ACTIVE_SERVER_COUNT} | <a href="{listing_top.USERS_ONLINE_LNK}">Users Online</a>: {listing_top.TOTAL_ONLINE}</td>
              </tr>
            </table>
            <a href="{listing_top.HOMEPAGE}"><img src="{listing_top.IMG_DIR}{listing_top.IMG_SRC}" border="0" alt="{listing_top.PAGETITLE}"></a>
          </td>
          <td align="center" width="100%"><b>{listing_top.MESSAGE}</b></td>
        </tr>
      </table>
<!-- END listing_top -->
